*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.icon {
  padding: 1em;
}

.btn {
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(12deg, 88%, 59%);
  padding: 1.5rem 3rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(12deg, 88%, 69%);
}

.slick-list {
  overflow: visible;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  list-style: none;
  width: 100%;
  padding: 3em 0;
}
.slick-dots li {
  width: 4px;
  height: 4px;
  border: 1px solid hsl(12deg, 88%, 59%);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 0.3em;
}

li.slick-active {
  background-color: hsl(12deg, 88%, 59%);
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header__main-img {
  position: absolute;
  z-index: -1;
  top: -5%;
  right: -18%;
  width: 110%;
}
.header__second-img {
  position: absolute;
  width: 70%;
  bottom: 0;
  z-index: -1;
  right: -27%;
}
.header__img {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header__img img {
  width: 90%;
}
.header__box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__introduction {
  width: 100%;
  padding: 1em 3em;
  text-align: center;
}
.header__introduction-head {
  color: hsl(228deg, 39%, 23%);
  font-size: 3.5rem;
}
.header__introduction-text {
  margin-top: 1em;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.3);
  line-height: 3rem;
}
.header__introduction-btn {
  margin-top: 2em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0 2em;
}
.nav .btn {
  display: none;
}
.nav__hamburger {
  cursor: pointer;
}
.nav__close {
  display: none;
  cursor: pointer;
}
.nav__box {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  width: 85%;
  padding: 2em 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.nav__box-item {
  list-style: none;
  padding: 0.5em;
}
.nav__box-item a {
  text-decoration: none;
  color: hsl(228deg, 39%, 23%);
}
.nav__box-item:hover a {
  color: rgba(0, 0, 0, 0.3);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.active {
  display: flex;
  -webkit-animation: showMenu 0.5s forwards;
          animation: showMenu 0.5s forwards;
}

@-webkit-keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.manage {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  text-align: center;
}
.manage__header {
  padding: 0 3em;
  margin-bottom: 3em;
}
.manage__item {
  padding-left: 1.5em;
}
.manage__item-header {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: hsl(228deg, 39%, 23%);
  background-color: hsl(13deg, 100%, 96%);
  height: 45px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-weight: bold;
}
.manage__item-header span {
  font-size: 1.4rem;
  background-color: hsl(12deg, 88%, 59%);
  color: hsl(0deg, 0%, 98%);
  padding: 1rem 2rem;
  border-radius: 20px;
  margin-right: 1rem;
  font-weight: 500;
}
.manage__item-text {
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  line-height: 30px;
  margin-top: 1em;
  margin-bottom: 3em;
}
.manage__img {
  display: none;
}

.head {
  color: hsl(228deg, 39%, 23%);
  font-size: 3rem;
}
.head-text {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  margin-top: 2em;
  line-height: 30px;
}

.opinions {
  padding: 0 1.5em;
}
.opinions__header {
  text-align: center;
  margin-bottom: 4em;
}
.opinions__box {
  margin-top: 13em;
}
.opinions__box-item {
  position: relative;
  background-color: hsl(13deg, 100%, 96%);
  padding: 4em 3em;
  text-align: center;
}
.opinions__box-item-img {
  position: absolute;
  width: 8rem;
  top: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.opinions__box-item-name {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1em 0;
}
.opinions__box-item-text {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.opinions__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3em 0 5em;
}
.opinions .wrapper {
  overflow: hidden;
}

.banner {
  background-color: hsl(12deg, 88%, 59%);
  position: relative;
  overflow: hidden;
}
.banner__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10em 4em;
}
.banner__box-header {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: hsl(0deg, 0%, 98%);
  margin-bottom: 1em;
  z-index: 3;
}
.banner__box .btn--white {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(12deg, 88%, 59%);
  z-index: 2;
  transition: color 0.3s;
}
.banner__box .btn--white:hover {
  color: hsl(12deg, 88%, 69%);
}
.banner__box-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: -32rem;
  bottom: -5rem;
  opacity: 0.1;
}

.footer {
  background-color: hsl(233deg, 12%, 13%);
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 2em;
}
.footer__input {
  margin-bottom: 3em;
}
.footer__input input {
  padding: 1em 1.5em;
  border: 1px solid transparent;
  border-radius: 30px;
  margin-right: 1em;
  width: 22rem;
}
.footer__input .btn {
  text-transform: uppercase;
}
.footer__nav {
  width: 100%;
}
.footer__nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  width: 100%;
  -moz-column-gap: 5em;
       column-gap: 5em;
  flex-wrap: wrap;
  list-style: none;
  height: 150px;
}
.footer__nav-ul-item {
  font-size: 1.6rem;
}
.footer__nav-ul-item a {
  text-decoration: none;
  color: hsl(0deg, 0%, 98%);
  transition: color 0.3s;
}
.footer__nav-ul-item:hover a {
  color: hsl(12deg, 88%, 59%);
}
.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3em;
  width: 100%;
  margin: 3em 0;
}
.footer__socials-logo {
  width: 50%;
}
.footer__socials-items {
  display: flex;
  -moz-column-gap: 3em;
       column-gap: 3em;
}
.footer__socials-items i {
  font-size: 4rem;
  color: hsl(0deg, 0%, 98%);
  cursor: pointer;
  transition: color 0.3s;
}
.footer__socials-items i:hover {
  color: hsl(12deg, 88%, 59%);
}
.footer__copiright {
  font-size: 1.4rem;
  color: #aaa;
}

@media (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }
  .nav__box {
    position: relative;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    justify-content: flex-end;
    padding: 0;
  }
  .header__main-img {
    width: 90%;
  }
  .header__second-img {
    width: 50%;
  }
  .header__introduction {
    padding: 3em 5em;
  }
  .header__introduction-head {
    font-size: 4.5rem;
  }
  .header__introduction-text {
    font-size: 2.3rem;
    margin-top: 2em;
  }
  .header__introduction-btn {
    margin-top: 4rem;
  }
  .header__img img {
    width: 70%;
  }
  .head {
    font-size: 4rem;
  }
  .head-text {
    font-size: 2rem;
  }
  .manage__header {
    padding: 0 5em;
    margin-bottom: 5em;
  }
  .manage__item {
    padding-left: 3em;
  }
  .manage__item-header {
    font-size: 2rem;
  }
  .manage__item-header span {
    font-size: 1.8rem;
    margin-right: 3rem;
  }
  .manage__item-text {
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
    line-height: 30px;
    margin-top: 2em;
    margin-bottom: 4em;
  }
}
@media (min-width: 976px) {
  .nav {
    height: 15rem;
    padding: 0 4em;
    width: 100%;
  }
  .nav__box {
    font-size: 2rem;
    width: 50%;
  }
  .nav .btn {
    display: block;
  }
  .btn {
    font-size: 2rem;
  }
  .header__box {
    flex-direction: row;
    margin-top: 3em;
  }
  .header__img {
    width: 60%;
    order: 2;
  }
  .header__main-img {
    width: 50%;
    top: -30rem;
  }
  .header__second-img {
    width: 50%;
    display: none;
  }
  .header__introduction {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 0 2em;
    width: 40%;
    margin-top: 6em;
  }
  .header__introduction-head {
    font-size: 5.5rem;
  }
  .header__introduction-text {
    font-size: 3rem;
    margin-top: 2em;
  }
  .header__introduction-btn {
    margin-top: 4em;
    margin-left: 1em;
    align-self: flex-start;
  }
  .banner__box-img {
    width: 80%;
    left: -80rem;
    bottom: -75rem;
  }
  .manage {
    position: relative;
    text-align: left;
    overflow: hidden;
  }
  .manage__container {
    display: flex;
  }
  .manage__item-header {
    background-color: transparent;
  }
  .manage__img {
    display: block;
    position: absolute;
    bottom: -35rem;
    left: -30rem;
    width: 50%;
    z-index: -1;
  }
  .opinions__box-item {
    margin: 0 4em;
  }
  .banner__box {
    flex-direction: row;
    justify-content: space-between;
    padding: 10em 6em;
  }
  .footer {
    padding: 3em 4em;
  }
  .footer__box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 4em 0;
  }
  .footer__input {
    order: 3;
  }
  .footer__nav {
    order: 2;
    width: auto;
  }
  .footer__nav-ul {
    width: 100%;
  }
  .footer__socials {
    width: auto;
    height: 150px;
    margin: 0;
    justify-content: space-between;
  }
  .footer__socials-items {
    order: 2;
  }
  .footer__copiright {
    position: absolute;
    bottom: 20%;
    right: 2%;
  }
}/*# sourceMappingURL=main.css.map */